@import ./variables

:root
    --background-color: #F9F9F9
    --background-color2: #F9F9F9
    --background-color-overlay: rgba(249, 249, 249,0.4)
    --background-color-transparent: rgba(249, 249, 249,0)
    --dark: #333333
    --accent: #0085FF
    --red: #FC5757
    --white: #ffffff
    --dark2: #f3f3f3
    --dark3: #e6e6e6
    --dark4: #e6e6e6
    --dark5: #e6e6e6
    --dark6: #a7a7a7
    --dark20: #C7C7C7
    --dark21: #C7C7C7
    --navHeight: 10rem
    --borderRad: 1rem
    --filter: 1.8

[data-theme="dark"]
    --filter: .15
    --box-shadow: rgba(26, 26, 34,0)
    --background-color: #1a1a22
    --background-color2: #22242c
    --background-color-overlay: rgba(26, 26, 34,0.4)
    --background-color-transparent: rgba(26, 26, 34,0)
    --dark: #d7d7e2
    --accent: #0085FF
    --red: #FC5757
    --white: #272A35
    --dark2: #1d1f27
    --dark3: #121318
    --dark4: #272A35
    --dark5: #444855
    --dark6: #444855
    --dark20: #444855
    --dark21: #2e313a
    --navHeight: 10rem
    --borderRad: 1rem

    
*
    box-sizing: border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-tap-highlight-color: transparent
    margin: 0
    padding: 0
    &:before,
    &:after 
        box-sizing: border-box
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
    &:focus
        outline: none
    // &::selection
    //     background: $accent
    //     color: white

html
    font-size: 62.5%

body
    font-size: 1.4rem
    cursor: auto
    &.grabbing
        cursor: pointer !important

html,
body 
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    font-family: Metropolis, sans-serif
    font-weight: 500
    // line-height: 2.5rem
    -webkit-font-smoothing: antialiased   
    color: var(--dark)
    -webkit-overflow-scrolling: touch
    overflow: hidden
    background-color: var(--background-color)


button
    border: none
    background: none
    cursor: pointer
    font-family: inherit
    color: inherit

input
    color: inherit
    border: none
    border-radius: 0 
    appearance: none
    background: none
    font-family: inherit
    +placeholder(var(--dark6))
    &:-webkit-autofill 
        -webkit-transition-delay: 99999s

li
    list-style: none

select
    color: inherit

@-webkit-keyframes autofill 
    to 
    color: black
    background: transparent

a 
    text-decoration: none
    outline: 0
    color: inherit

::-webkit-scrollbar 
    width: 5px
    height: 5px

::-webkit-scrollbar-track 
    border-radius: 5rem
    background: var(--dark3)

::-webkit-scrollbar-thumb 
    border-radius: 5rem
    background: var(--dark20)

project-settings,workspace-popup
    display: flex
    justify-content: center
    align-items: center
    width: 100vw
    height: 100vh
    position: absolute
    top: 0
    left: 0
    background: var(--background-color-overlay)
    z-index: 4

.spinner
    position: fixed
    z-index: 1
    top: calc(50% - 15px)
    left: calc(50% - 15px)
    border-style: solid
    border-color: var(--accent) var(--accent) var(--accent) transparent
    animation: spin 0.3s linear infinite
    border-radius: 50%
    height: 30px
    width: 30px
    border-width: 3px
    margin: 0 auto



@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)
    
    
// card
.card
    border-radius: var(--borderRad)
    background: var(--white)
    box-shadow: 0 1rem 3rem -1rem var(--dark3)
    & .title
        padding: 1rem
        display: flex
        justify-content: space-between
        align-items: center
        & .cardName
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
            font-size: 2.25rem
            font-weight: 800
            +placeholder(var(--dark20))
        & .emoji
            font-size: 2rem
    section
        padding: 1.5rem 3rem
        & .error
            text-align: center
            margin-top: 1rem
            i
                color: var(--red)
    & .border
        border-bottom: solid 1px var(--dark5)

.inputCont
    display: flex
    align-items: center
    margin-bottom: 1rem
    height: 3.5rem
    label
        font-weight: 700
        margin-right: 1rem
    & .input
        display: inline-block
        border-radius: var(--borderRad)
        border: solid 1px var(--dark5)
    & .textInput
        padding: 1rem
        font-weight: 700
    & .colorCont
        width: 7rem
        height: 100%
        position: relative
    & .colorInput
        cursor: pointer
        opacity: 0
        width: 100%
        height: 100%
    & .colorSample
        position: absolute
        pointer-events: none 
        width: 100%
        height: 100%
        width: calc(100% - 1rem)
        height: calc(100% - 1rem)
        top: .5rem
        left: .5rem
        border-radius: .5rem
    select        
        height: 100%
        padding: .5rem
        border-radius: var(--borderRad)
        border: solid 1px var(--dark5)
        cursor: pointer
        margin-right: 1rem
        background: none
    option
        background: var(--white)

    & .grow
        flex-grow: 1
    
.acceptButtons
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 1rem
    button
        white-space: nowrap
        flex-grow: 1
        font-weight: 800
        border-radius: var(--borderRad)
        background-color: var(--dark3)
        padding: 1.5rem
        font-size: 1.5rem
        &.accent
            background-color: var(--accent)
        &.red
            background-color: var(--red)
        &:last-child
            color: white

.content-cover-cont
    position: relative
    flex-grow: 1

.content-cover
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    pointer-events: none

.pointer-none
    pointer-events: none !important
    .content-cover
        pointer-events: all
        cursor: not-allowed

.cardPadding
    padding: 1.5rem
// task
.task
    display: flex
    align-items: center
    padding: 0.25rem 0.75rem
    background-color: var(--white)
    border-radius: var(--borderRad)
    position: relative
    &.completed
        .assigned, .checkbox, .textarea
            opacity: 0.5
    &.hover:hover, &.selected
        background: var(--dark2)
    & .checkbox
        color: var(--dark5)
        font-size: 1.6rem
        margin-right: 1rem
        cursor: pointer
        position: relative
        border-radius: 50%
        .checkmark
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            font-size: 1rem
    & .textarea
        flex-grow: 1
        cursor: pointer
        padding: .2rem 0
        resize: none
        font: inherit
        font-size: 1.4rem
        line-height: 2rem
        border: none
        background: none
        font-weight: 500
        opacity: 0.8
        color: inherit
        text-wrap: wrap
    & [contenteditable][placeholder]:empty:before 
        content: attr(placeholder)
        position: absolute
        color: var(--dark20)
        background-color: transparent
        &:focus
            cursor: text
        
    & .dragHandle
        color: var(--dark)
        font-size: 1.6rem
        padding: .75rem
        cursor: move
        opacity: 0
    & .settingsHandle
        color: var(--dark)
        font-size: 1.6rem
        padding: .75rem
        cursor: pointer
        opacity: 0

    & .empty
        width: 0.25rem
    &:hover 
        .dragHandle
            opacity: .4
        .settingsHandle
            opacity: .4

// remove drag handles on cards when dragging
.card-container.dragging .dragHandle
    visibility: hidden  

// dragging preview animating to postiion
.cdk-drag-animating 
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)
    animation: dropshadow 250ms cubic-bezier(0, 0, 0.2, 1) 

// dragging placeholder
.cdk-drag-placeholder 
    opacity: 0
    &.dayCal
        opacity: 1
        filter: contrast(0) brightness(var(--filter))

.cdk-drag-preview 
    // box-shadow: 0 .7rem 2rem -1rem rgba(0, 0, 0, 0.205) 
    box-shadow: 0 .7rem 2rem -1rem var(--dark3)
    & .dragHandle
        opacity: 0.3


.taskList.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) 
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)
    &:hover
        background: none
    & .dragHandle
        opacity: 0

.card-container.cdk-drop-list-dragging .card:not(.cdk-drag-placeholder) 
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)
    & .dragHandle
        opacity: 0

.dropList.cdk-drop-list-dragging .category:not(.cdk-drag-placeholder) 
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)
    & .dragHandle
        opacity: 0

@keyframes dropshadow
    0%
        box-shadow: 0 .7rem 2rem -1rem var(--dark3) 
    100%
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0)




.redCol
    color: var(--red)
.accentCol
    color: var(--accent)

.emptyHeaderSpace
    height: var(--navHeight)
    pointer-events: none
