.settingPopup
    position: absolute
    top: 3rem
    left: 0    
    padding: 1.5rem
    width: 21rem
    z-index: 3
    & .option
        cursor: pointer
        font-weight: 700
        font-size: 1.2rem
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: .5rem
        padding: 1rem
        border-radius: var(--borderRad)
        &:hover
            background: var(--dark2)
        &:first-child
            margin: 0
        & .optionIcon
            color: var(--dark20)
            font-size: 1.6rem
            margin-left: 1rem
    & .archive
        width: 100%
        border-radius: var(--borderRad)
        color: var(--red)
        i
            font-size: 1.6rem
            color: inherit
        &:hover
            color: white
            background: var(--red)
