
.container
    height: var(--navHeight)
    position: absolute
    right: 3rem    
    display: flex
    align-items: center
    justify-content: flex-end
    z-index: 3
    
.card
    display: flex
    padding: 1rem 1.5rem 1rem .5rem

nav
    margin-right: 1.5rem
    ul
        display: inline-flex
        border-radius: 10rem
        padding: .5rem
    a
        font-weight: 800
        padding: 1rem 
        border-radius: 10rem
        display: block
        &.active
            // background-color: var(--white)
            background-color: var(--dark3)
        i
            margin: 0


img
    cursor: pointer
    height: 4rem
    width: 4rem
    object-fit: cover
    border-radius: var(--borderRad)
    margin-right: 1.5rem
    &:last-of-type
        margin: 0
    &.selected
        box-shadow: 0 0 0 2px var(--accent)

.options
    font-size: 2rem
    padding: .5rem
    cursor: pointer

