
.calendar
    height: 100%
    overflow-x: auto

.listGroup
    display: grid
    grid-template-columns: repeat( auto-fit, 27rem )
    grid-auto-flow: column
    min-height: 100%



.row
    width: 27rem
    min-width: 27rem
    position: relative
    display: flex
    justify-content: center
    & .date-container
        pointer-events: none
        position: absolute
        width: 100%
        height: 6rem
        z-index: 1
        display: flex
    & .date
        cursor: pointer
        pointer-events: all
        display: inline-flex
        justify-content: center
        flex-direction: column
        border-radius: var(--borderRad)
        user-select: none
        margin: auto
        width: 5rem
        height: 100%
        &.today
            color: inherit
            background: var(--dark4)
        &.selected
            color: white
            background: var(--accent)
        h3
            pointer-events: none
            text-align: center
            opacity: .4
            margin-bottom: .5rem
            // text-transform: uppercase
            font-size: 1.3rem

        h2
            pointer-events: none
            text-align: center
    & .border
        height: 100%
        top: 7rem
        position: absolute
        border-left: dashed 2px var(--dark21)

.card-container
    width: 22rem
    position: relative
    padding: 9rem 0 7rem 0
    


calendar-card
    display: block
    &.transparent
        opacity: 0.25
   
    

