.cont
    position: relative

.card
    position: absolute
    z-index: 10
    min-width: 15.5rem

section 
    padding: 1.5rem
    h4 
        margin-bottom: 1rem

.delete
    padding: 1.5rem
    cursor: pointer
    display: flex
    justify-content: space-between
    border-radius: 0 0 var(--borderRad) var(--borderRad)
    &:hover
        background: var(--red)
        color: white
        i
            color: white
    h4
        margin: 0
        display: flex
        justify-content: space-between
        width: 100%
    i
        color: var(--red)

.grid
    display: grid 
    grid-template-columns: repeat(auto-fit, 3.5rem)
    gap: 1rem

.gridItem
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    width: 3.5rem
    height: 3.5rem
    border-radius: var(--borderRad)
    object-fit: cover
    overflow: hidden
    &.assigned
        box-shadow: 0 0 0 2px var(--accent)

.icon
    border: solid 1px var(--dark5)
