.card
    margin-bottom: 2rem
    // padding: 0.5rem 0.5rem 0
    background: var(--white)
    border-radius: var(--borderRad)
    box-shadow: 0 1rem 3rem -1rem var(--dark3)
    cursor: move
    position: relative
    & .textarea
        cursor: move
        user-select: none
    & .task
        margin: 0
        background: none
    
    
.member-icon
    position: absolute
    width: 2rem
    height: 2rem
    border-radius: 2rem
    right: -1rem
    top: -1rem
    box-shadow: 0 0.5rem 1rem 0 var(--dark3)

.title
    padding: 1rem 1rem 0
    text-align: center
    display: flex
    justify-content: space-between
    align-items: center
    user-select: none
    font-size: 1.1rem
    & .category
        white-space: nowrap
        padding-right: 1rem
        opacity: 0.35
        font-weight: 600
        overflow: hidden
        text-overflow: ellipsis
    span
        margin-right: .5rem
    & .project
        // text-transform: uppercase
        font-weight: 800
        flex-grow: 1
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        text-align: right
        font-size: 1rem

