.categories
    width: 100%
    display: flex
    justify-content: center
    flex-wrap: wrap 
    & .category
        cursor: pointer
        border-radius: 50rem
        height: 4.6rem
        display: flex
        align-items: center
        padding: 0 2rem
        font-weight: 700
        font-size: 1.6rem
        margin: 0 0.5rem 2rem
        &.active
            background: var(--dark4)
        span
            margin-right: .5rem
