.taskBarCont
    height: 100%
    position: relative
    min-height: 0
    padding-top: 4rem
    & .gradientOverlay
        position: absolute
        z-index: 3
        background: linear-gradient(180deg, var(--background-color) 20%, var(--background-color-transparent) 100%)
        height: 5rem
        width: 38rem
        left: 0
        top: 3.5rem
    & .topControls
        position: absolute
        z-index: 4
        top: -6rem
        width: 100%
    & .close
        position: absolute
        font-size: 2.5rem
        color: var(--dark20)
        padding: 0 1rem
        cursor: pointer
        top: 0
        right: 0
    & .projectName
        margin: 0 0 1.6rem 3rem
        width: 32rem
        position: relative
        span
            max-width: 100%
            display: inline-flex
            align-items: center
            cursor: pointer
        h1
            font-weight: 900
            font-size: 2.4rem
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
            // text-transform: uppercase
        i
            font-size: 1.75rem
            margin-left: 1rem
    & .projectCategory
        cursor: pointer
        background: var(--dark4)
        border-radius: 50rem
        font-weight: 700
        font-size: 1.4rem
        margin-left: 3rem
        width: 32rem
        position: relative
    & .projectCategoryText
        height: 4.5rem
        display: flex
        align-items: center
        justify-content: space-between
        padding: 0 1.5rem
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        i
            margin-left: 1rem

.taskBar
    height: 100%
    overflow-y: auto
    padding: 1.5rem 0
    & .card
        margin: 0 0 2rem 3rem
        width: 32rem
    & .task
        cursor: pointer
        &:hover .clock
            opacity: 1
                

.scheduled
    font-weight: 700
    white-space: nowrap

.clock
    color: var(--dark20)
    opacity: 0
    

.projectSelect
    position: absolute
    left: 0
    top: 4rem
    z-index: 1

.categorySelect
    position: absolute
    left: 0
    top: 5rem
    z-index: 1
    width: 100%

.task-rightside
    display: flex
    align-items: center
    justify-content: flex-end
    gap: 1rem
    .assigned
        width: 2rem
        height: 2rem
        min-width: 2rem
        border-radius: 50%
    .task-settings
        display: flex
        opacity: 0

.task
    &:hover
        .task-settings
            opacity: 1
