
.container
    height: 100%
    position: relative

header
    height: var(--navHeight)
    display: flex
    justify-content: space-between
    align-items: center
    & .calendar i 
        margin-left: 3.5rem
        color: var(--dark20)
        font-size: 2.5rem
        cursor: pointer
        padding: .5rem
    & .space
        width: 51rem
        min-width: 51rem
    & .text
        flex-grow: 1
        display: flex
        flex-direction: column
        position: relative
        top: 1.5rem
        overflow: hidden
        padding-bottom: 3rem
        button
            position: absolute
            color: var(--dark20)
            font-weight: 700
            padding: .5rem
            top: 2.5rem
            right: 50%
            transform: translateX(50%)
            i
                font-size: 1rem
    & .text-top
        display: flex
        align-items: center
        justify-content: center
        font-size: 2.5rem
        i
            font-size: 2rem
            color: var(--dark20)
            padding: 0 1rem
            cursor: pointer
    h1
        font-weight: 700
        font-size: 2.5rem
        overflow: hidden
        text-overflow: ellipsis
        text-align: center
        white-space: nowrap
        width: 25rem


.group
    height: calc(100% - var(--navHeight))
    width: 100%
    display: grid
    grid-template-columns: 1fr
    &.open
        grid-template-columns: 40rem 1fr

project-taskbar
    display: block
    height: 100%
    min-height: 0


.calendarCont
    min-width: 0
    min-height: 0
    position: relative
    cursor: grab
    &.dragging
        cursor: move 

.taskBarShadow
    height: 100%
    width: 70px
    background: linear-gradient(90deg, var(--background-color) 0%, var(--background-color-transparent) 100%)
    position: absolute
    z-index: 2
    pointer-events: none

@media screen and ( max-width: 1300px )
    header .space
        width: 30rem
        min-width: 30rem
        &.open
            width: 40rem
            min-width: 40rem



