.card:hover
    .iconPlace
        opacity: 1

.title
    position: relative
    padding: 0 0.75rem
    margin-bottom: 1rem
    .options
        color: var(--dark20)
        padding: .5rem
        padding: 0.5rem
        font-size: 1.9rem
        cursor: pointer
    .dragHandle
        color: var(--dark20)
        padding: .5rem
        padding: 0.5rem
        font-size: 1.7rem
        cursor: move
    .iconPlace
        opacity: 0
        display: flex
        gap: 1rem
        align-items: center
        position: relative
        .options:hover
            color: white
        .dragHandle:hover
            color: white
    
.deleteMenu
    position: absolute
    padding: 1.5rem
    width: 10rem
    display: flex
    justify-content: space-between
    align-items: center
    cursor: pointer
    z-index: 1
    i
        color: var(--red)

.cardSettings
    position: absolute
    min-width: 15.5rem
    display: block
    display: block
    top: 4rem
    right: 0
    z-index: 1

.task-rightside
    display: flex
    position: relative  
    align-items: center
    justify-content: flex-end
    .assigned
        width: 2rem
        height: 2rem
        min-width: 2rem
        border-radius: 50%
        position: absolute
    .task-settings
        display: flex
        opacity: 0

.task
    &:hover
        .task-settings
            opacity: 1
        .assigned
            opacity: 0

