.teamCont
    border-radius: var(--borderRad)
    background-color: var(--white)
    padding: 3rem 2rem
    display: flex
    flex-direction: column
    h2
        text-align: center
        font-weight: 800
        font-size: 2.75rem
        margin-bottom: 2.5rem
    h4
        font-weight: 600
        text-align: center
        opacity: 0.5
        margin-bottom: 2rem
    & .members
        padding-bottom: 1rem

    & .member
        display: flex
        align-items: center
        border-radius: var(--borderRad)
        padding: 1.6rem
        margin-bottom: 1.25rem
        background-color: var(--background-color2)
        &:hover
            i
                visibility: visible
        img
            height: 4rem
            width: 4rem
            object-fit: cover
            border-radius: var(--borderRad)
            margin-right: 1.6rem
        & .memberDetails
            flex-grow: 1
        h5
            font-size: 1.5rem
            margin-bottom: .5rem
        h6
            font-size: 1.1rem
            opacity: .4
            font-weight: 600
        i
            cursor: pointer
            color: var(--dark)
            opacity: .4
            font-size: 2rem
            visibility: hidden
    & .inviteCont
        border-top: solid 1px var(--dark5)
        padding-top: 2rem
        position: relative
        form
            border-radius: var(--borderRad)
            border: solid 1px var(--dark5)
            display: flex
            button
                padding: 1.6rem
            i
                color: var(--accent)
                font-size: 1.8rem
            input 
                padding: 1.6rem
                font-weight: bold
                font-size: 1.3rem
                opacity: .75
                flex-grow: 1
        & .success
            color: var(--accent)
            font-size: 1.2rem
            font-weight: 700
            text-align: center
            position: absolute
            left: 50%
            transform: translateX(-50%)
            bottom: -2rem

