.projects
    h2 
        font-weight: 800
        font-size: 2.75rem
        margin-bottom: 4rem
    & .grid
        display: grid
        grid-template-columns: repeat( auto-fit, 23rem )
        gap: 3rem
    & .project
        cursor: pointer
        padding: 2rem
        border-radius: var(--borderRad)
        display: flex
        align-items: center
        height: 7rem
        h3
            font-size: 1.8rem
            display: flex
            justify-content: space-between
            position: relative
            & .ellipse
                opacity: 0
                cursor: pointer
            & .private
                position: absolute
                right: 0
                pointer-events: none
                font-size: 1.5rem
                        
    & .addProject
        height: 7rem
        padding: 2rem
        border-radius: var(--borderRad)
        background: var(--dark4)
        display: flex
        justify-content: center
        align-items: center
        i
            font-size: 2.2rem
            opacity: 0.3 
