
.card
    padding: 1rem
    width: 20rem
    max-height: 30rem
    overflow: auto

.option
    cursor: pointer
    padding: 1rem
    border-radius: var(--borderRad)
    display: flex
    align-items: center
    margin-bottom: .5rem
    &:last-child
        margin: 0
    &:hover
        background: var(--dark2)
    span
        display: inline-block
        height: .7rem
        width: .7rem
        min-width: 0.7rem
        border-radius: 50%
        margin-right: 1rem
    h4
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        
            
