.container
    display: flex
    justify-content: center
    align-items: center
    width: 100vw
    height: 100vh

.card
    width: 37rem
    max-height: calc( 100vh - 4rem )
    overflow: auto
    & .title 
        margin-bottom: 2rem
        padding: 1rem 0
    &.deleted .acceptButtons
        display: flex
        button
            background: var(--accent)
