.card
    padding: 1rem
    width: 100%
    max-height: 30rem
    overflow: auto
    

.option
    cursor: pointer
    padding: 1rem
    border-radius: var(--borderRad)
    margin-bottom: .5rem
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    display: flex
    align-items: center
    justify-content: space-between
    i
        color: var(--dark20)
    &:last-child
        margin: 0
    &:hover
        background: var(--dark2)
    h4
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
    &.selected
        background: var(--accent)
        color: white
        