
    
.container
    height: 100%
    width: 100vw
    overflow-y: auto
    overflow-x: hidden
    position: relative
    display: flex
    flex-direction: column
    &.noScroll
        overflow: hidden

header
    height: var(--navHeight)
    display: flex
    justify-content: space-between
    align-items: center
    height: 10rem
    min-height: 10rem
    & .calendar 
        position: relative
        margin-left: 4rem
        i 
            color: var(--dark20)
            font-size: 2.75rem
            cursor: pointer
    & .text
        margin: auto
        padding-right: 67.5px
        h1
            font-weight: 900
            font-size: 3.2rem
            overflow: hidden
            text-overflow: ellipsis
            text-align: center
            white-space: nowrap


.maxWidth
    max-width: 1600px
    margin: auto
    padding: 0 4rem 4rem

project-select
    position: absolute
    top: 8rem
    left: 50%
    transform: translateX(-8rem)
    z-index: 1


project-categories
    display: block
    width: 100%
    margin-bottom: 2rem
    

.card-container
    overflow-x: auto
    width: 100vw
    padding: 0 4rem 4rem 4rem
    cursor: grab
    flex-grow: 1
    white-space: nowrap
    text-align: center
    
.card-group
    display: inline-flex
    flex-direction: column
    gap: 1.5rem
    width: 350px
    margin: 0 2rem
    text-align: left
    &:first-of-type
        margin-left: auto
    &:last-of-type
        margin-right: auto
    h2
        display: flex
        align-items: center
        justify-content: space-between
        &:hover
            .add-card-btn
                opacity: 1
        .add-card-btn
            opacity: 0
            display: flex
            align-items: center
            justify-content: center
            height: 2.5rem
            width: 2.5rem
            border-radius: 50%
            background: var(--white)
            i
                font-size: 1.3rem
                position: relative
                top: 0.5px
                color: var(--dark20)

card
    display: block
    cursor: initial
    &.settingsOpen
        z-index: 1


.projects-menu
    width: 100%
    display: flex
    justify-content: center
    flex-wrap: wrap 
    margin-bottom: 4rem
    & .project
        cursor: pointer
        border-radius: 50rem
        height: 4.6rem
        display: flex
        align-items: center
        padding: 0 2rem
        font-weight: 700
        font-size: 1.6rem
        gap: 1rem



