.card
    width: 37rem
    max-height: calc( 100vh - 4rem )
    overflow: auto
    & .title 
        margin-bottom: 2rem
        padding: 1rem 0
        i
            opacity: 0.3
            cursor: pointer
            padding: .5rem

.category
    position: relative
    padding: .5rem
    background: var(--white)
    margin-bottom: 1rem
    border-radius: var(--borderRad)
    & .inputCont
        margin: 0
    i
        opacity: 0.3
        padding: 0.5rem
        margin-left: 1rem
        cursor: pointer
    & .dragHandle
        margin-right: 1rem
        margin-left: 0

            
.categoryDeleteCont
    position: absolute
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    background: var(--background-color-overlay)
    z-index: 5
    display: flex
    justify-content: center
    align-items: center
    & .card
        width: 42rem
    h3
        margin-bottom: 2rem
    option,select
        font-weight: 700
    & .check
        cursor: pointer
        height: 2.5rem
        width: 2.5rem
        border: solid 1px var(--dark5)
        border-radius: 50%
        margin-right: 1rem
        position: relative
        padding: .4rem
        &.checked
            border: solid 1px var(--dark20)
            &:after
                background: var(--accent)
                width: 80%
                height: 80%
                top: 10%
                left: 10%
                border-radius: 50%
                content: ""
                position: absolute
            

        
