.card
    padding: 1rem
    width: 100%
    max-height: 30rem
    overflow: auto
    

.option
    cursor: pointer
    padding: 1rem
    border-radius: var(--borderRad)
    margin-bottom: .5rem
    &:last-child
        margin: 0
    &:hover
        background: var(--dark2)
    h4
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
    &.selected
        background: var(--accent)
        color: white
        