.card
    width: 37rem
    max-height: calc( 100vh - 4rem )
    overflow: auto
    & .title 
        margin-bottom: 2rem
        i
            opacity: 0.3
            cursor: pointer
            padding: .5rem
