$padding: 4rem
    
.container
    height: 100%
    overflow-y: auto
    position: relative

header
    height: var(--navHeight)
    display: flex
    align-items: center
    & .space
        width: 51rem
        min-width: 51rem
    & .text
        padding-left: 4rem
        flex-grow: 1
        position: relative
        span
            display: inline-flex
            align-items: center
            cursor: pointer
        i
            font-size: 1.75rem
            margin-left: 1rem
            padding: .5rem
    h1
        font-weight: 900
        font-size: 3.2rem
        overflow: hidden
        text-overflow: ellipsis
        text-align: center
        white-space: nowrap

.workspaceSelect
    position: absolute
    left: 4rem
    top: 4rem
    z-index: 1
    width: 20rem

.maxWidth
    max-width: 1600px
    margin: auto
    padding: $padding
    display: flex


team-members
    display: block
    width: 35rem
    margin-right: 8rem
home-projects
    display: block
    flex-grow: 1




@media screen and ( max-width: 1300px )
    team-members
        margin-right: 6rem

    header .space
        width: 30rem
        min-width: 30rem
